<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/main.css">
<!--    th:href="@{/../static/styles/main.css}"-->
    <title>VARERKATALOG</title>
</head>
<body>
<main>
    <h2>Vareliste</h2>
    <table>
        <tr>
            <th>Varenavn</th>
            <th>Pris</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.name}">Some item</td>
            <td th:text="${product.price}">Some price</td>
            <td><button class="orange"><a th:href="@{'/edit/' + ${product.id}}">Opdater</a></button></td>
            <td><button class="red"><a th:href="@{'/delete/' + ${product.id}}">Slet</a></button></td>
        </tr>
    </table>
    <span>
        <button class="blue">
            <a href="add">Opret produkt</a>
        </button>
    </span>
    <br>
    <h1>
        <span class="message" th:if="${message}"><p th:text="${message}"></p></span>
    </h1>
</main>
</body>
</html>
